[2014-04-11 16:39] kzu opened #1 "Make Broker port valid for 1800-2000 range"

[2014-04-11 17:33] #1 closed, assigned to nobody

[2014-11-21 17:31] kzu opened #15 "Evaluate incorporating common broker $SYS topics for admin"
Reporting broker status via $SYS is pretty common in other brokers. We should evaluate and implement the most common and "standard" topics for reporting broker status.

See https://github.com/mqtt/mqtt.github.io/wiki/SYS-Topics

Take into account the suggestions on OASIS: https://issues.oasis-open.org/browse/MQTT-16 (in particular, the restriction that clients subscribing with wildcards should not

[2014-12-05 21:32] mauroa opened #20 "Add support to send Will Message when an unexpected error occurs"
Will message is being stored as part of the Connect flow. What is missing is to add the logic to send the stored message in case of an unexpected error

Story xamarin/XamarinVS#1888

[2014-12-05 21:33] mauroa opened #21 "Add authentication and authorization support"
We need to add a mechanism to authenticate and authorize as part of the Connect flow

Story xamarin/XamarinVS#1888

[2014-12-05 21:35] mauroa opened #22 "Implement message ordering according to protocol spec"
According to the protocol, messaging ordering needs to be implemented as follows:

http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/os/mqtt-v3.1.1-os.html#_Toc398718105

Story xamarin/XamarinVS#1888

[2014-12-05 21:36] mauroa opened #23 "Review protocol conformance points"
The conformance points needs to be reviewed, in order to become accepted as a valid MQTT implementation.

http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/os/mqtt-v3.1.1-os.html#_Toc39871813

Story xamarin/XamarinVS#1888

[2015-01-07 17:59] kzu opened #27 "Improve automated build"
Use semanticgit for versioning, automatically generate nuget packages from builds, etc.

Story xamarin/XamarinVS#1888

[2015-01-07 18:00] kzu opened #28 "Add basic event tracing"
Following the approach of the [VSX spike](https://github.com/xamarin/vsx/tree/master/TracingDemo), add basic Event Tracing support that works on the Mac by just tracing to a TraceSource.

Story xamarin/XamarinVS#1888

[2015-04-14 15:17] mauroa opened #44 "Refactor IRepository to use Query objects instead of predicates and queryables"
The current abstraction will be very hard to replicate in all environments without forcing enumeration of all rows to evaluate the predicate (whenever a sufficiently smart Linq provider isn't available). We'd much rather have an explicit Query object that limits the options, and have a Linq-based translation for Linq-based storages. This would allow other repository providers to implement the appr

[2015-04-14 15:18] mauroa opened #45 "Review Packet Identifier generation logic to be more efficient"

[2015-05-08 18:49] #45 closed, assigned to mauroa

[2015-06-14 20:29] #20 closed, assigned to mauroa

[2015-06-14 20:29] #21 closed, assigned to mauroa

[2015-06-15 00:36] #23 closed, assigned to mauroa

[2016-09-15 03:04] #27 closed, assigned to nobody

[2016-10-14 17:43] kzu opened #107 "Implement zero byte client ids"
see https://github.com/fusesource/mqtt-client/issues/30

[2016-10-14 17:44] kzu opened #108 "Add support for large clientids in v3.1.1"
See www.hivemq.com/6-facts-why-its-worth-upgrading-to-mqtt-3-1-1/

[2017-05-09 11:25] ciani opened #114 "Could not load file or assembly System.Net.Mqtt.resources.dll"
Hi there,

I am trying to connect to my Mqtt server from my Xamarin Forms App. I made an implementation on iOS this way:

[code]

But i always get this exception when I call to the method ConnectAsync(credentials)

Exception:

_System.IO.FileNotFoundException: Could not load file or assembly '/Users/ciani/Library/Developer/CoreSimulator/Devices/18F2ACE9-10B6-48F5-957D-38A72BE47BCF/data/Containers/

[2017-05-30 13:26] kzu commented on #114
@mauroa have you seen this?

[2017-06-06 01:08] Magnabatt opened #117 "Connection Issue"
Hi,

I have started playing around with MQTT lately and have come across your package which I quite like. However I'm currently getting the below error thrown. Can you assist me?

System.Net.Mqtt.MqttClientException: An error occurred while trying to connect the client Client123456 ---> System.ObjectDisposedException: Cannot access a disposed object.
Object name: 'System.Net.Mqtt.Sdk.TaskRunner'.

[2017-06-09 12:48] s-kostyuk commented on #117
Good day

I experienced the similar problem. Can you provide some additional information about which instruction in your code caused this exception? Maybe, it's `ConnectAsync` method usage, or `SubscribeAsync` or some other method usage.

P.S. Looks like current implementation of MqttClient disallows to call `ConnectAsync` twice, even with `DisconnectAsync` call in between. Or after a failed conne

[2017-06-09 22:30] Magnabatt commented on #117
Hi Kostyuk,

Below is my code that is called from a OnClick command. Everything seems to run smoothly until I get to "client.ConnectAsync" then the error appears. I have tried a few diffrent things but have not been able to change the outcome. Looking at what you have just sent me I might be calling something incorrectly (or all of it!). Could you have a look and tell me what you think?

Also I'm

[2017-06-10 14:35] s-kostyuk commented on #117
Actually, there are several confusing moments in given code sample:
1) only those variables are used: `strClientID`, `strUsername`, `strPassword`, `strIPAddress`
2) `strPort`, `ipAddressBroker` and `clientId` are unused;
3) looks like the connection setting is read from textboxes; is their content valid?

So, firstly try to use hard-coded settings instead of textbox content. Maybe, they contain so

[2017-06-10 21:17] kzu commented on #117
string containing special symbols as clientId.

It's not this library, it's the spec:
http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/csprd02/mqtt-v3.1.1-csprd02.html#_Toc385349767,
section 3.1.3.1.

We initially implemented the spec strictly, meaning typically no MAY
features are implemented. Also, by using non-strict client IDs, you risk
not being able to connect to other mqtt servers.

That said, t

[2017-06-11 05:44] s-kostyuk commented on #117
@kzu, understood, thank you for the explanation

[2017-06-11 22:18] kzu commented on #117
@s-kostyuk it's really weird that they didn't allow a GUID-like value from the get-go :\

[2017-06-12 03:31] Magnabatt commented on #117
Thanks for the help gentleman I have managed to get this up and running now.

[2017-06-14 12:29] DevEddy opened #118 "TLS / SSL connection"
I am using Xamarin.Forms, when I try to connect to port 8883 I get a timeout error, any Platform (iOS, Android..)

Message:
[code]
Stack trace:
[code]
The sever is okay and works with other libraries.
Any idea?
Could someone provide a sample how to correctly connect over TLS / SSL with this library?

Thanks in advance

// EDDY

[2017-06-14 12:44] mauroa commented on #118
Hi Eduard,

Both MQTT Broker and Client doesn't support TLS by now. We will try to include it in the next public version, at least for the Client.
By now, only connections without certificates can be performed.

Sorry for the inconvenience.
Thanks,
Mauro

[2017-06-14 12:52] eduard1989 commented on #118
Hi Mauro,

thank you for the fast response.
I love this library and would like to use it.
Is there any timeline for the implementation and release?

Thanks
// EDDY

[2017-06-14 12:56] mauroa commented on #117
Hi @s-kostyuk,

Related to your comments about ObjectDisposedException and the Client not being able to connect more than once, those are current limitations of the library, which only allows to connect once per client instance. Then, the client will be disposed after you invoke the protocol Disconnect.

This happens because the client currently behaves as it's underlying network connection.

We a

[2017-06-16 00:07] Magnabatt commented on #118
Hi, this would be a feature. is this something that can be released shortly as I'm working on a small project that needs TLS?

[2017-06-16 00:12] Magnabatt commented on #117
Hi,

Thanks for the help my code is now working fine as I can connect, subscribe, and publish messages. I have one question though as when I publish a message it seems to keep appearing every 30 seconds or so. I'm sending the message with QoS of AtLeastOnce and I think this might be the issue the broker is re-sending the message due to the client not acknowledging the message was received.

Is the

[2017-06-16 00:33] mauroa commented on #117
Hi,

QoS AtLeastOnce means QoS 1, so the client sends the Publish and expects an Ack message from the Broker. If it receives the Ack, then it considers the message as delivered, but if not it resends it.
The same applies for the messages that the Broker forwards to the subscribers.

What do you mean by saying the message keeps appearing? Where are you seeing that? Are you using a third party Broke

[2017-06-16 02:06] Magnabatt commented on #117
Hi,

I have an eMQTT broker setup and I connected a Paho test client subscribed to "test". I connected my app and subscribed to the same topic. Then i sent a message ("Hi") from Paho to the topic which in turn showed the message on my app. Then i sent a message ("Hello") from my app to the topic which in turn showed in the Paho client. Both messages from both clients where set to QoS 1 (AtLeastOnc

[2017-06-16 02:19] mauroa commented on #117
Thanks for the clarification. It's very clear now.
Regarding the question, all the acks are sent and processed automatically as part of the different protocol flows, on both Client and Broker implementations.
I will investigate deeper and let you know. With our Broker and Client communicating each other this doesn't happen, so it could be a compatibility problem in our Client library, which is wei

[2017-06-16 02:23] mauroa commented on #117
As an extra help, our libraries uses tracing based on System.Diagnostics, so if you can configure a TraceListener for the source System.Net.Mqtt, then you can get logs that can help if any error on the client happens on the Publish flow when sending acks.

[2017-06-18 13:09] Magnabatt opened #119 "Heartbeat monitoring"
Hi,

Is it possible to monitor the client to broker connection? So that when it drops out I can sent an alert and/or reconnect?

Thanks.

[2017-06-18 13:13] Magnabatt commented on #117
Do you need the VS 2017 log/trace or is there a trace built into your code?

[2017-06-18 13:42] mauroa commented on #119
The IMqttClient interface has a Disconnected event, which you can use to hook and monitor disconnections. The args of the event will provide you with the reason of the disconnection

[2017-06-26 19:10] mauroa commented on #117
Hi.
Sorry for the delay. I meant we already do tracing in the library with the System.Diagnostics infrastructure, so the only thing that you need to do is to set a TraceSource for the assembly name and add a TraceListener to write to a file, for example.

This is a sample that you can use to write the logs to a file, for the System.Net.Mqtt classes and for any type of message:

var source = new Tr

[2017-06-27 11:04] Magnabatt commented on #117
Hi @mauroa,

Thanks I will run a trace for you tomorrow. However in the mean time I keep getting the following error "System.ArgumentException: 'An item with the same key has already been added.'" each time I try to connect to the server. Below is a copy of the debug output:

**Unhandled Exception: The thread 0x4700 has exited with code 0 (0x0).
The thread 0x4570 has exited with code 0 (0x0).
The

[2017-07-13 07:54] eppak opened #121 "No session has been found for client"
Hello,
i tried to connect to a mosquitto broker, on ConnectAsync i get  "No session has been found for client" disconnect error, no matter if cleansession is true or false.

Any ideas if is a bug or some strict feature of mqtt? (i'm connected to this server with same credentials with other libraries).
Thanks

[2017-07-16 23:56] mauroa commented on #121
Hello,
Thanks for reporting. Can you check if the ClientId that you pass to the MqttClientCredentials on the ConnectAsync method is the same that appears in the error message "No session has been found for client {0}"?

It's a very strange error and it's the first time it's reported. Other users has been using other Brokers too and there were no issues like this. Also, if you can share the client

[2017-07-16 23:58] mauroa commented on #119
Closing this issue given that It has been answered. Feel free to re open if you have any related problem.

[2017-07-16 23:58] #119 closed

[2017-07-16 23:59] mauroa commented on #118
We are working for providing this feature as soon as possible. We will let you know when the new version is published

[2017-07-17 00:03] mauroa commented on #108
Closing this issue as this has already been implemented

[2017-07-17 00:03] #108 closed

[2017-07-17 06:35] eppak commented on #121
Hello,
here complete output log of the app (i removed my refers). Another thing that may help you it that. while connecting, there is a kind of loop (auto-reconnection?) that the lib do on connection after some attempts it crash. Another thing is that now i use tha paho inplementation with no connection problems.
Thanks in advance.

[System.Net.Mqtt.txt](https://github.com/xamarin/mqtt/files/11517

[2017-09-15 02:39] nm-a commented on #117
Here is the code which is working for me

`class Program
    {
        private static IMqttServer server;
        private static IMqttClient client;
        private static MqttConfiguration Configuration { get; set; }

        static void Main(string[] args)
        {
            usedPorts = new ConcurrentBag<int>();

            server = GetServerAsync();
            client = GetClientAsync();

[2017-09-15 05:57] nm-a opened #124 "publishing from mosquitto_pub command"
Hi,
I am trying to publish data using "mosquitto_pub" command.

`C:\Users\Administrator>mosquitto_pub -d -t path -m "Hello from Terminal window 2!" -h <<ipaddress>>
Client mosqpub/16196-WIN-LNKCV sending CONNECT
Error: The connection was lost.`

This the error message that I am getting; from C# code both server & client are working fine. Finally I want publish from Raspberry Pi using "c / c++" lib

[2017-09-28 09:56] Magnabatt commented on #118
Hi Mauroa, has your team managed to make some progress on this?

[2017-11-02 12:14] jhalbrecht opened #125 "The target "GitVersion" does not exist in the project."
I'm attempting to evaluate "Hermes" mqtt for Xamarin.Forms.

I get error `The target "GitVersion" does not exist in the project.` on line 26 of "Directory.Build.targets" `<Target Name="SetVersions" BeforeTargets="GetAssemblyVersion" DependsOnTargets="GitVersion" Returns="$(Version)">`

I cloned and then attempted to build using
[code]

[2017-11-02 14:14] kzu commented on #125
Did you do an `msbuild /t:restore` first?

[2017-11-02 14:46] jhalbrecht commented on #125
Are there build instructions for this project? After reading the README.md and ReleaseNotes.md I saw the .sln and loaded up VS2017...

Now I tried;
I opened a VS command line prompt and issued `msbuild /t:restore` which seemed to run without error. I went back to vs and built the project. Same errors. Then back to the command line and ran `msbuild` itself which appeared to build the client and ser

[2017-11-04 00:07] jhalbrecht opened #126 "Add link to Wiki from README.md"
I added some samples to the Wiki. Perhaps a link to the project README.md could be added?

Are maintainers aware of any other examples?

Some Examples

System.Net.Mqtt client sample A gist from @mauroa
xamarin-iot-samples/Hermes.Mqtt/ found in the xamarin/xamarin-iot-samples
Any others? Spicoli? Bueller?

[2017-12-04 21:40] psummo commented on #117
[code]
client.ConnectAsync(new MqttClientCredentials("userId")); give me this error

ObjectDisposedException: Cannot access a disposed object.
Object name: 'System.Net.Mqtt.Sdk.TaskRunner'.

[2017-12-07 22:40] psummo opened #127 "ConnectAsync: problem with System.Net.Mqtt.Sdk.TaskRunner"
[code]
client.ConnectAsync(new MqttClientCredentials("userId")); give me this error

ObjectDisposedException: Cannot access a disposed object.
Object name: 'System.Net.Mqtt.Sdk.TaskRunner'.

[2017-12-08 09:33] psummo commented on #127
It's my error
In CreateAsync the host is myservernode.net without mqtt://

Sorry for fake issue.

[2017-12-08 09:33] #127 closed

[2017-12-09 10:00] psummo opened #128 "Send an object"
How I can send an object? I have my message  class with (string user, string message, datetime now).
I can't find a method that convert object into Byte Array to send/receive with this library

[2017-12-09 18:59] mauroa commented on #128
Hi,
We don’t provide serialization capabilities for custom objects given that it’s up to the consumer to decide the type of serialization and content to send over the wire. The way that you get and build your byte[] is not part of the protocol specification. For example you can JSON serialize your class and encode to byte[], you can directly serialize to byte[], you can create your own package for

[2017-12-09 19:02] psummo commented on #128
I try it but for UWP doesn't work.
So...ok sorry for bad issue.

[2017-12-09 19:02] #128 closed

[2017-12-13 00:07] psummo opened #129 "Retrive CONNACK : how?"
[code]

How can retrive Connection ACK from ConnectAsync?

[2017-12-13 02:17] mauroa commented on #129
Hi,
ConnectAck is an MQTT packet that only serves to consider the connection as completed, hence it doesn’t make sense to get an instance of CONNACK or have access to it at all.
To ensure that the connection ends accordingly you just need to await the ConnectAsync method. The internal implementation ensures that the connection returns when the ACK is received or when an error occurs, in which case

[2017-12-13 06:32] psummo commented on #129
I know the function of ack, but ack mqtt contains if the session is clear or not. How I can know that? If it isnt clear I don't need to subscribe to the same topic.

Example
USER A --> Connect for first time to broker with clear session false
SERVER ACK--> will response with sessionPresentFlag (right?)
sessionPresentFlag at first connection with clean Session will be false because there's not old

[2017-12-15 09:26] varunmuley commented on #117
Hi,

Most probably when is the next public release scheduled? Will the next release address issues related to ObjectDisposedException: Cannot access a disposed object and also issues relating to Re connection to broker.

Regards,
Varun

[2017-12-16 00:10] psummo opened #130 "Message on Re connect: recive only offline message not all"
I had try with MQTT.js to the same broke node.js and with publish/subscribe on QoS = 1, publish retain = false and connect cleanSession = false if

CLIENT A & CLIENT B ONLINE SUBSCRIBED TO THE SAME TOPIC
CLIENT A --> SEND MESSAGE 1/ MESSAGE 2/ MESSAGE 3--> CLIENT A/B REVICE MESSAGE 1/2/3
CLIENT B --> DISCONNECT
CLIENT A--> SEND MESSAGE 4/ MESSAGE 5--> CLIENT A REVICE MESSAGE 4/5
CLIENT B --> RE CO

[2018-02-05 21:44] geedsen commented on #117
This may or may not be related, but apparently the original error was resolved, although I could not find in this topic what exactly has been done to resolve it. Anyway, I am using Xamarin and have problems building the iOS app from my Windows Visual Studio. In VS, going to Options-Xamarin-iOS I have no problem making a connection to the MAC. But when I build I get the following error:
0: Warning

[2018-02-07 04:00] kzu commented on #117
@geedsen plz report this via the VS2017 "Send Feedback" from the upper-right corner of VS:

![image](https://user-images.githubusercontent.com/169707/35897843-003ef2e6-0ba2-11e8-8d06-b843fe45cf41.png)

That will get us the right logs to investigate. After reporting, plz do paste here the resulting feedback URL so we can track it back from Xamarin.

Thanks!

/cc @mauroa

[2018-02-07 08:50] geedsen commented on #117
I did the feedback, and after some next's is send it, but there was no resulting feedback URL. Does the feedback automatically attach the log files?

[2018-02-14 15:50] biapar opened #131 "Do it work on Xamarin Forms?"
Do it work on Xamarin Forms?

[2018-02-14 15:57] eduard1989 commented on #131
Yes

[2018-03-01 20:46] eduard1989 commented on #118
Any progress on this @mauroa ?

[2018-03-02 15:59] Loiti78 commented on #117
I am using System.net.mqtt in a xamarin forms project with android, ios and uwp as target. Android works perfect. in uwp i get the taskrunner disposed exception during call of connectasync. I do not call connectasync more than one time, it happens on first call. i am using a shared .net standard 2.0 library,

I don't know why, any ideas?

[2018-03-28 13:14] apicquot commented on #118
Interested in Stl Client as well... any update would be great before I go to a third party client.

Maybe not the right place to ask but I take my chance: can the project reference .Net core instead of .Net standard ? I can not find System.Net.Mqtt in Core.

[2018-04-20 05:59] kzu opened #138 "Last Will should have binary payload"
According to [the spec](http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/errata01/os/mqtt-v3.1.1-errata01-os-complete.html#_Toc385349244) the last will message is no different than all other published messages: it contains a topic and a byte[] payload.

We unfortunately define it as a [string](https://github.com/xamarin/mqtt/blob/master/src/Client/MqttLastWill.cs#L23) which is later on converted to a `

[2018-04-24 22:47] kbienert2 commented on #131
Can someone explain to me how can I create a Xamarin project that works with this?

[2018-04-24 22:50] kbienert2 opened #139 "How can I create a Xamarin.Forms project that works with this?"
How can I create a Xamarin project that works with this?
I tried so many times and forms on how to include into a blank Xamarin.Forms project and still fail.

[2018-05-03 15:55] SamuelLioult opened #140 "Troubleshooting when connection lost"
Hi,
I use the last available nuget package and I have issues. First, if I have no internet connection when I try to initialize the MQTT connection, the app crashes. If I add a try/catch statement, the app crashes too!

Secondly, if the connection is done and I lost my internet connection I have the same issue.

Finally, I have the same issue when I try to call the DisconnectAsync method or the IMq

[2018-05-08 13:15] abrasat opened #141 "Automatic reconnect to MQTT broker ?"
Is there any setting available in MQTT client, that provides an automatic reconnect to the MQTT server/broker in case of lost of connection ?

[2018-05-09 12:06] elcosmelco opened #142 "Occasional Unhandled Exceptions"
I am using the client in a Xamarin Forms project on an Android 8.0 device and about 70% of the time things run as expected. The other 30% of the times I launch the app it crashes immediately with an unhandled exception stating `"An item with the same key has already been added. Key: System.Net.Mqtt.Sdk.Storage.RetainedMessage"`. I've tried try/catch on everything to do with the client object and i

[2018-05-22 14:06] abrasat commented on #138
You are right.
Is there any concrete library release planned, which will support a binary payload for the LastWill message ?

[2018-05-22 14:09] mauroa commented on #138
We are working on fixing many of the pending issues and also on some improvements, so we wait to release a new version soon.

[2018-05-22 16:02] abrasat opened #143 "KeepAlive in MqttConfiguration"
I set the KeepAliveSecs parameter to (for instance) 10 (seconds) in the MqttConfiguration, when creating the MqttClient.
Then I physically removed the network cable for the connection to the mqtt broker.
The expected behaviour was to get the MqttClient "Disconnected" event triggered, but instead of that the application crashed with unexpected exception.
When just stopping the Mqtt broker (without

[2018-05-31 16:18] jazd commented on #118
Hello @mauroa ,
We also desire to use this library but need X.509 certificate-based mutual authentication of TLS connections.  We may also be willing to contribute resources if needed to complete/test this feature.

[2018-05-31 18:38] mauroa commented on #117
The ObjectDisposedException issue has been fixed with this recently merged PR: https://github.com/xamarin/mqtt/pull/144

It will be available in the next public version release, coming soon.
Closing the issue.

[2018-05-31 18:38] #117 closed

[2018-05-31 18:39] mauroa commented on #44
Fixed recently with this PR: https://github.com/xamarin/mqtt/pull/145, so closing the issue.

[2018-05-31 18:39] #44 closed

[2018-05-31 18:41] mauroa commented on #114
This should be already fixed. Try using latest Xamarin Forms together with latest MQTT.
Also, soon we will be uploading a new MQTT version with bug fixing and improvements.

[2018-05-31 18:41] #114 closed

[2018-05-31 18:57] mauroa commented on #138
Fixed with PR: https://github.com/xamarin/mqtt/pull/146
It will be available soon in the next public release.

[2018-05-31 18:57] #138 closed

[2018-06-01 13:37] mauroa commented on #142
This has already been addressed in the recent commits and it will be available in the next release coming soon. Closing this issue.

[2018-06-01 13:37] #142 closed

[2018-06-01 13:40] mauroa commented on #130
This bug has been addressed and fixed recently, merged in this PR: https://github.com/xamarin/mqtt/pull/147.
It will be available in the next release, coming soon.
Closing this issue.

[2018-06-01 13:40] #130 closed

[2018-06-01 13:42] mauroa commented on #129
Issue addressed recently, merged with this PR: https://github.com/xamarin/mqtt/pull/148.
Now, the way of getting the SessionPresent value is by using the return value of the IMqttClient.ConnectAsync, which is an enum that determines if the session has been cleared or preserved.
This will be available in the next release, coming soon.
Closing this issue

[2018-06-01 13:42] #129 closed

[2018-06-01 14:04] mauroa commented on #107
Feature added recently and merged with this PR: https://github.com/xamarin/mqtt/pull/149.
It will be available soon in the next release, so closing it.

[2018-06-01 14:04] #107 closed

[2018-06-06 16:07] mauroa commented on #126
The readme has been updated with documentation and samples, so closing this ussue

[2018-06-06 16:07] #126 closed

[2018-06-10 20:12] RayyanTahir opened #152 "Application crashes unexpectedly when createasync is called"
Hi, I tried both of the following ways , but both ways crash my application. I'm unable to debug with breakpoints because the debugger also crashes.

**Way 1**
[code]

**Way 2**
[code]

I'm debugging using my real phone connected to visual studio using `Xamarin Live Player`. Your help will be much appreciated.

[2018-06-12 18:59] mauroa commented on #131
System.Net.Mqtt is netstandard 2.0 compliant, so it works with any platform that supports it. To work with Xamarin.Forms just ensure you use netstandard in the library instead of PCL.

[2018-06-12 18:59] #131 closed

[2018-06-12 19:02] mauroa commented on #121
This has already been fixed in the recent commits and it will be available in the next release coming soon. Closing this issue.

[2018-06-12 19:02] #121 closed

[2018-06-12 19:05] mauroa commented on #125
This is already fixed. Also, a new public release is coming soon with many fixes and improvements.
Finally, documentation and samples have been added, as requested.
Closing this issue.

[2018-06-12 19:05] #125 closed

[2018-07-10 12:16] mauroa commented on #139
The latest version of the library is compatible with netstandard 2.0, so you should just create a Xamarin.Forms project with a netstandard library and install the Mqtt package in that library, which is referenced from the apps.

[2018-07-10 12:16] #139 closed

[2018-07-11 20:53] kzu commented on #152
`Xamarin Live Player` tries to interpret your code. We haven't done any testing of MQTT on it and likely won't. I'd suggest you run it on a real app instead.

[2018-07-11 20:53] #152 closed

[2018-07-12 04:31] ericsleung opened #157 "Success/Failure status when publishing message with QoS=1"
Will there be a mechanism to report the success/failure status when publishing message with QoS=1? i.e. MqttQualityOfService.AtLeastOnce

[2018-07-12 04:37] ericsleung opened #158 "Allow GUID to be used in Client-id parameter"
When trying to connect with GUID "7e6efa94-50d6-4d3d-85ff-74663a6ef000", the library throws the below exception:
_An error occurred while trying to connect the client "7e6efa94-50d6-4d3d-85ff-74663a6ef000"
at System.Net.Mqtt.Sdk.MqttClientImpl.<ConnectAsync>d__28.MoveNext() in C:\Code\Xamarin\mqtt\src\Client\Sdk\MqttClientImpl.cs:line 130
--- End of stack trace from previous location where excepti

[2018-07-12 05:29] mauroa commented on #158
Thanks for reporting the issue. We will take a look based on the sample and get you back soon

[2018-07-12 05:36] mauroa commented on #157
The same happens with the rest of protocol messages that involves an ACK. A completed Task without errors returned by the method indicates a successful completion, meaning the ACK received correctly and according to the protocol spec

[2018-07-12 13:05] kzu commented on #157
Indeed @ericsleung, the intention is to use the API without having to know about the protocol internal details unless you need to. Just like a typical HTTP client throws an exception for non-OK responses, say (or used to anyway, the new one return a response and you inspect the result instead ;).

[2018-08-06 20:01] lorenh opened #159 "Looking for examples of how to set up the Server"
This project really intrigues me.  But I'd like to see an end-to-end example (via code or documentation) of how to set up a service to receive messages sent by a client that would be close to what I would need to implement if I were to use it.  The tests are only getting me so far in my understanding of it.  Any pointers to some other project that is using it?

[2018-08-09 07:26] ddobric opened #160 "Why is message received over and over again?"
By following you example, I have implemented subscriber as shown below:

  this.m_MqttClient.MessageStream
                .Where(msg => msg.Topic == this.m_RcvTopic)
                .Subscribe(async msg => {
                await msgReceiver?.Invoke(msg.Payload);

The message is sent by using this code:
`   await this.m_MqttClient.PublishAsync(new MqttApplicationMessage(this.m_SendTopic, message)

[2018-08-20 08:26] ddobric commented on #160
It looks as this would happen if publisher and receiver use same ClientID. This is for sure not a production case (it happened during invalid unit test configuration), but I'm not sure if it is correct.

[2018-08-21 01:46] kzu commented on #160
The second connection using the same client ID should cause the previous one to be forcefully disconnected, according to the spec. I believe that is currently the case, right @mauroa?

[2018-08-21 18:13] daspuru opened #161 "Please update System.Reactive to latest version (4.1.0) (Tested)"
Hi!

The package conflicts with other state of the art packages like Realm or Zeroconf because of the System.Reactive 3.0.0 reference. I cloned the repo and re-compiled with System.Reactive 4.1.0 and referenced the assembly in a .NET Standard library and then to a Xamarin iOS / Android app. The server seems to work fine. I hope you can update the Nuget and test.

Thanks.

[2018-08-21 18:16] kzu commented on #161
You should be able to reference the newer Rx in your app and provide binding redirects and it should just work too, btw.

[2018-08-21 20:46] daspuru commented on #161
Oh @kzu thanks for the tip! I tried importing the newer Rx in all projects that uses it, but never get the platform projects compile, I will make the research regarding binding redirects.

[2018-08-24 13:56] ddobric commented on #160
It does not behave this way.
Second does not cause the first one to be disconnected. First one is continuously receiving the message.
To me this does not look correct.

[2018-08-24 14:02] mauroa commented on #160
Can you please try changing the Quality of Service to a lower value? (either 0 or 1). You are using QoS 2 in your samples (MqttQualityOfService.ExactlyOnce). It’s just to discard an issue with it.
Thanks.

[2018-08-24 14:06] kzu commented on #160
Are you using this MQTT implementation for both client and server? If so, can you provide the full failing unit test so we can repro?

Thanks!

[2018-08-29 00:43] jessejiang0214 commented on #161
@kzu I met the same issue, my project is .Net Standard 2.0 I install Rx.net 4.0.0, then I try to install Xamarin.LiveReload. When I build PCL it build successfully, but when I build iOS or Android project, it failed.
The error is error XA2002: Can not resolve reference: `System.Reactive.Linq`, referenced by `System.Net.Mqtt`. Please add a NuGet package or assembly reference for `System.Reactive.Li

[2018-08-30 06:32] ddobric commented on #160
1. I'm using MqttQualityOfService.ExactlyOnce
2. Use same library for client and server in the same process inside of unit tests and also in different processes.

[2018-08-31 21:01] daspuru commented on #160
Hi, I am having a similar problem, where do you change the client id?

[2018-08-31 21:57] daspuru commented on #160
Hi, I am testing the server and the client (this implementation), and have a similar issue. When I suscribe to a topic, and then send only one message to that topic, the message is received and received infinitely at intervals for about 5 seconds. It is the same client, in the same app. First I suscribe to the topic and then send the message.

If I send the message from another client, the message

[2018-08-31 22:40] daspuru commented on #160
Hi all, I fixed the issue staring the server with the same configuration as the client (QoS 2), as I was not introducing any parameter in the MqttServer.Create() method.

Now it seems to work great! :)

[2018-09-01 02:50] daspuru opened #162 "What would be a good policy to maintain a healthy and stable connection between broker and client?"
Hi all!

I am trying to make a rock solid connection between Android & iOS platforms. When the client and the broker are connected and I keep sending messages, everything runs with impressive performance.

My company have years of experience using Mqtt with hardware (Microchip, Raspberry, Arduino, C# & Xamarin now). As far as I have learned in field applications is that the low networking level ne

[2018-09-02 01:54] arqueror commented on #162
Mqtt library is suddendly throwing an exception when sending messages to broker (sometimes takes 2 minutes, sometimes 5 minutes and sometimes is never thrown) . This is happenning to me with iOS broker and it makes application crash. Here is the complete exception stack:

Error: System.NullReferenceException; Object reference not set to an instance of an object
StackTrace:
"  at System.Net.Mqtt.Sd

[2018-09-02 18:34] kzu commented on #161
PackageReference or legacy packages.config?--

--
/kzu from mobile

[2018-09-02 21:17] daspuru commented on #161
@kzu We are putting the Nuget in a .NET Standard very recent project. It’s not legacy packages.config.

[2018-09-03 00:28] daspuru commented on #161
I can't get the solution to compile.

I have the following packages in the .NET Standard library:

System.Net.Mqtt
System.Net.Mqtt.Server
System.Reactive (4.0.0)

This is my  latest test in the .CSPROJ for that library:

    <ItemGroup>
    <PackageReference Include="System.Net.Mqtt" Version="0.5.42-beta">
            <CopyLocalLockFileAssemblies>true</CopyLocalLockFileAssemblies>
            <Cop

[2018-09-03 00:52] daspuru commented on #161
For the record, if I compile to the iOS simulator, the app compiles, but if I compile to a device, fails with the error above. Also, I tried setter the <CopyLocalLockFileAssemblies> and <CopyNugetImplementation> in the <PropertyGroup> of the .csproj directly, in the .NET Standard project, and in the iOS project, tried a lot of combinations and not working.

[2018-09-03 19:10] ddobric commented on #160
Good job 👍
Which nuget version contains the fix?

[2018-09-03 19:12] kzu commented on #161
Any reason you can't use Rx 3.0?

On Sun, Sep 2, 2018 at 9:52 PM daspuru <notifications@github.com> wrote:

--

--
/kzu from mobile

[2018-09-12 15:49] EmilAlipiev commented on #161
I am having the same problem and I am not able to use RX 3.0 because of another library called akavache which had recently and stable release update solves an important issue and it uses rx 4.1

[2018-09-12 22:57] EmilAlipiev commented on #161
I tried everything but i cant make it work. @daspuru  did you find a solution?

[2018-09-12 23:27] daspuru commented on #161
@emilalipiev I changed to MQTTnet, it is  very stable and more powerful and supported than this package, however I made a facade in case this project evolves...

[2018-09-13 00:44] EmilAlipiev commented on #161
@daspuru  i am having this problem for livereload. Does it simply solve to install MQttnet? or your problem is different?

[2018-09-13 01:29] daspuru commented on #161
@EmilAlipiev I totally changed from this library to the other one. Wipe.

[2018-09-13 10:45] EmilAlipiev commented on #161
@daspuru  let me understand please. you had problem with livereload and you changed to the alternative? can you please suggest what is the name of it. "Wipe"? :) if that is the name, i cant find anything related to it. please let me know. I need to figure out also some alternative. I tried gorilla player, not happy. Livexaml- best so far but not free. Livereload- good enough with problems

[2018-09-13 11:16] kzu commented on #161
I think @daspuru is talking about just MQTT. Totally unrelated to Live Reload ;)

[2018-09-13 11:53] EmilAlipiev commented on #161
@kzu I understand but livereload is using the same libraries with the same versions and when using latest version of other libraries like he mentioned Realm or Zeroconf  and mine Akavache, this error is returned and no way to fix it. I tried every hing suggested.

[2018-09-13 11:59] EmilAlipiev commented on #161
I attached a simple repro.

[App1.zip](https://github.com/xamarin/mqtt/files/2379151/App1.zip)

[2018-09-13 13:04] daspuru commented on #161
@EmilAlipiev Sorry, I changed to the alternative library [MQTTnet](https://github.com/chkr1011/MQTTnet). With Wipe i meant that i totally wiped this library by the moment. As stated, I wrote a Facade class to use the service as I am very enthusiast of this effort, however MQTTnet is in a more mature state now.

Thanks.

[2018-09-13 13:09] mstranne commented on #124
Did you find a solution?

[2018-09-13 15:54] nm-a commented on #124
I have been using other library

[2018-09-14 11:30] mstranne commented on #124
Which one did you take?
And is it working for UWP also?

thanks,
Marco

[2018-09-18 04:50] nm-a commented on #124
I am using this
https://www.nuget.org/packages/M2Mqtt/

But this also very old one, I am planning to upgrade.

[2018-09-18 11:50] daspuru commented on #124
MQTTnet is great!

[2018-09-19 17:14] arielcattaneo commented on #161
Hi, @EmilAlipiev i have same problem with LiveReload. I also tried Gorillas (not support Prism) and LiveXAML (excellent but expensive for now in my country).

In fact, i was starting with LiveReload since i had been using a montly license of LiveXAML (in my country by issues monetary it's been duplicate cost of license).

In sumary, i yet not tried LiveReload.

[2018-10-09 17:06] grahamehorner opened #163 "MQTT Secure Connection"
When attempting to connect to a MQTT using a secure connection on port 8883 the following exception is thrown:-
System.Net.Mqtt.MqttClientException: 'An error occurred while trying to connect the client '

IOException: Unable to read data from the transport connection: An existing connection was forcibly closed by the remote host.

SocketException: An existing connection was forcibly closed by the

[2018-11-14 16:06] illishar commented on #161
I've been messing around for 2 hours now, trying to get the ton of hellishly nuget dependencies to work. Still no luck. You might wanna delete the "light weight/simple" statements.

[2018-11-14 16:55] kzu commented on #161
You can see for yourself the actual source and API surface to come up with
a feeling of simplicity.

"Dependencies" is pretty much Rx/System.Reactive. yes, it's complicated on
mobile. It's not on desktop.

So, it's all in the eye of the beholder. It wasn't built from the beginning
to have no deps and run great on mobile. It's core driver was Xamarin build
host, which is a console app serving as th

[2018-11-15 03:31] dekuz opened #164 "How to first implementation declare"
using system.net.mqtt

just it or need another declare ?

Thank you

[2019-01-05 02:46] EmilAlipiev commented on #161
is that library discontinued with Livereload or it will be still maintained?

[2019-01-05 02:55] kzu commented on #161
For LR, nope, I don't think MQTT brings any additional benefits compared to what a plain websockets would provide. This library was created before there was widespread availability and implementations of websockets (both client and server), so it was a necessary layer on top of raw TcpClient to enable the (application-level) message-based exchanges typically needed by apps.

Websockets do already

[2019-01-05 13:04] EmilAlipiev commented on #161
it is interesting, i will take a look into websockets deeper but from your explanation if i understand correctly, cost could be higher in websockets if hosted in azure or similar. by the way, i am wondering something. LR was using localhost as default, was it simply running over TCPClient when Localhost used and if used any mqtt external broker, mqtt library was used or even in the case Localhost

[2019-01-05 14:55] kzu commented on #161
Cost when hosting your own server is exactly the same for both: mqtt server is also "just" a web app. Azure Relay Service is another story altogether.

A single protocol is used always, regardless of localhost or cloud (the mobile app doesn't even know it's collecting to a "localhost", it just gets an IP to try to connect to.

[2019-01-08 13:36] romannovotny commented on #158
When I used Guid as clientId there is no error, but I can't receive any message now.

[2019-01-10 08:08] romannovotny commented on #160
I think it still not working correctly on version I get from nuget in visual studio.  I still get one topic after a while. And dont get nothing on the beginning. And when I use Guid as ClientId it is not working at all. So I came back to M2Mqtt

[2019-01-31 17:37] LucasSossai opened #165 "Header Flag 2 is invalid for SubscribeAck packet"
Hi, I'm using the MQTT as a Client. When I communicate with a Mosquitto Broker I can do everything fine(Connect,Publish,Subscribe). But I need to communicate with a Broker that is implemented inside a ESP32 MicroController. The ESP32 broker works fine when it is with another clients , but when I put together the System.Net.Mqtt as Client and the ESP32 as broker I can Connect and Publish but I'm re

[2019-02-01 18:11] LucasSossai commented on #118
Any solution?
Any MQTT lib for Xamarin Android / iOS with TLS/SSL?

[2019-02-01 19:38] DevEddy commented on #118
@LucasSossai I am using this one: https://github.com/chkr1011/MQTTnet

[2019-02-01 20:20] LucasSossai commented on #118
Thank you!

[2019-02-19 12:07] javirs85 commented on #159
Same here. There is no documentation at all on the server side of it.. Or am I missing something ? I managed to start a 3rd party broker and push messages. Still did not manage to subscribe correctly and did not manage to create the server and connect to it from a python device (that IS actually capable of connecting to the 3rd party broker I'm using)

Any resources?

[2019-02-19 14:59] javirs85 opened #166 "Cannot create more than one client."
I have a system where I have an object representing each of my devices. Wanted to add a "listener" on each device listening to some generic control channel and its particular channel. To simplify message handling.

But I get and exception when I try to create the second client. Is that the expected behavior ?

[2019-02-19 15:02] javirs85 opened #167 "Cannot subscribe to messages"
I use a 3rd party broker app (because I'm unable to connect to the server here)
https://play.google.com/store/apps/details?id=server.com.mqtt&hl=es

I connect to the broker correctly from C#, and from a nodeMCU device running micropython. I can submit messages from both python and C# but I only receive them from python. The subscribe method never reacts.

Here a question in stack overflow I posted

[2019-02-19 15:08] javirs85 opened #168 "Cannot connect to the server from nodeMCU with micropython"
I tested with a 3rd party broker and it works so the problem does not rely in the net configuration.

[code]

Then I try to connect from the nodeMCU and I get this :
[code]

Checked what the MQTTException : 2 is and I found no documentation but the fragment of code that writes it down it this :

[code]

Any ideas ?

[2019-02-21 16:13] kahveci commented on #118
Any updates on TLS/SSL support?

[2019-02-26 23:02] jhalbrecht opened #169 "Update Readme MqttCredentials"
In the Readme.md example code refers to `MqttCredentials` I believe it's `MqttClientCredentials` now.

[2019-02-26 23:03] kzu commented on #169
You know you can just click on that Edit icon and send a PR? ;)

https://github.com/xamarin/mqtt/edit/master/README.md

👍

[2019-02-26 23:04] jhalbrecht opened #170 "Does xamarin / mqtt support TLS?"
Does xamarin / mqtt support TLS?

If so is there a sample?

[2019-03-03 06:03] Rajkumar181 opened #172 "System.IO.FileNotFoundException"
I install the packages and i got this error.

Error		Exception while loading assemblies: System.IO.FileNotFoundException: Could not load assembly 'System.Reactive.Linq, Version=3.0.0.0, Culture=neutral, PublicKeyToken=94bc3704cddfc263'. Perhaps it doesn't exist in the Mono for Android profile?
File name: 'System.Reactive.Linq.dll'
   at Java.Interop.Tools.Cecil.DirectoryAssemblyResolver.Resolve(As

[2019-03-04 04:49] Rajkumar181 commented on #172
This is resolve. When i added This

Install-Package Rx-Main -Version 2.3.0-beta2

[2019-03-04 09:55] Rajkumar181 commented on #172
Again i am getting some other error in Subscribe.

 Client.MessageStream.Subscribe(msg =>
                    {
                     MessageSub = System.Text.Encoding.UTF8.GetString(msg.Payload);
                        Messages.Add(new Item { Text = MessageSub.ToString() });
                    });

Error:
Severity	Code	Description	Project	File	Line	Suppression State
Error	CS0121	The call is ambi

[2019-03-04 12:14] #172 closed

[2019-03-06 09:35] RealDekkia opened #173 "Can't send more than 18 messages"
When sending messages from my Xamarin.forms app to an mqtt-server the first 18 Messages are getting sent.
The 19. and all following messages are not.
There is no Exception thrown when this happens (neither on the app nor on the server) and the App is still receiving messages from the Server.

I tried to work around this by reconnecting after 17 messages but I had no luck.
Restarting the App does r

[2019-03-14 13:08] inforaudio commented on #170
Do you find a solution but Xamarin and MQTT SSL?
Thanks

[2019-03-16 22:51] jhalbrecht commented on #170
Check out [jhalbrecht/XamarinFormsMqttSample](https://github.com/jhalbrecht/XamarinFormsMqttSample) I just got a sample app working that demonstrates connecting to a mosquitto broker with a CA signed server certificate. I've connected to iot.eclipse.org on 8883 and my own mosquitto broker with a letsencrypt cert.

The repository also has several mosquitto_pub/sub examples as well as several python

[2019-03-18 11:10] inforaudio commented on #170
Thanks for you suggestions.
We test you example and connect perfect to some public broker wiht SSL /TLS
I test in my 2 broker and we cant connect with you example.  I try to use ca.cert and ca.pfx and nothing dont connect.
So if use desktop app like MQTTBOX, we connect with certificate files, and if we connet with MQTT.FX we connect with ca.cert file.

Then i think that there are a problem in the

[2019-06-10 18:24] sebagomez opened #177 "Is Flespi supposed to work?"
Sorry about the vague question but I'm new with MQTT I can't find a working example with C# and [Flespi](flespi.com).

I created the simplest sample from the README file and added my data:

[code]

and here's the error I get...
`Header Flag 7 is invalid for PublishReceived packet. Expected value: 0`

[2019-06-10 20:01] xHasKx commented on #177
Hi Sebastian,

To connect to arbitrary MQTT broker in general you need such parameters:
* host and port
* username and password (both may be empty)

Parameters for flespi are described here: https://flespi.com/mqtt-broker#configuration

So I suppose you may try a code like this (didn't test it):
[code]
More info about `<FLESPI-TOKEN>` is here: https://flespi.com/kb/tokens-access-keys-to-flespi-pla

[2019-06-11 01:11] sebagomez commented on #177
It worked @xHasKx , thanks!

[2019-06-11 01:11] #177 closed

[2019-07-10 14:40] karthim20 commented on #118
Any updates on TLS/SSL support?

[2019-08-14 01:52] SeppyMoose commented on #118
Any updates on the support for SSL or TLS?

[2019-08-22 10:26] throwaway122333 opened #180 "Conflicted version with System.Reactive"
Hi

I can't use System.MQTT with xamarin.ios and i get this error:

I used the same code on Xamarin.Android and it works, but nothing with the ios version

[2019-09-04 05:52] mzc1986 opened #181 "Can't find in Nuget package manager"
![Screenshot 2019-09-04 at 07 48 43](https://user-images.githubusercontent.com/1582472/64228878-8031e980-cee8-11e9-8052-6ac2c106a92c.png)

Also when trying to install from Package Manager getting this error.
![Screenshot 2019-09-04 at 07 50 49](https://user-images.githubusercontent.com/1582472/64228970-c8e9a280-cee8-11e9-85d2-5ab982c24995.png)

Any help is appreciated.

[2019-09-05 06:21] #181 closed

[2019-09-26 10:41] ibebbs commented on #180
Hah... was just about to report exactly this error.

I'm using System.Net.Mqtt v0.6.0-beta in two projects currently; [Cmqtt](https://github.com/ibebbs/Cmqtt) and [PowerFull](https://github.com/ibebbs/PowerFull). While the former works perfectly, the latter encounters the following error due to already having a dependency on System.Reactive v4.1.6:

[code]

I have tried adding assembly binding red

[2019-10-11 13:16] mzc1986 commented on #117
spent one week suspecting other problems... :(

[2019-11-05 13:30] NichtEuler commented on #166
Try using different clientIds to connect to your server.
When using the same string to identify your client the server won't accept the newer client using the same ID.
My workaround was this:
 `sessionState = await mqttClient.ConnectAsync(new MqttClientCredentials(Guid.NewGuid().ToString("N")),
                                cleanSession: true);`

[2019-12-01 18:13] andersbusk opened #182 "MqttServer application crash if URL is accessed through browser"
I have a simple implementation of the server as such:
`
MqttConfiguration config = new MqttConfiguration()
            {
                AllowWildcardsInTopicFilters = true,
                ConnectionTimeoutSecs = 10,
                KeepAliveSecs = 10,
                WaitTimeoutSecs = 10,
                Port = port,
                MaximumQualityOfService = MqttQualityOfService.AtLeastOnce

[2019-12-19 20:56] ZbynekZ opened #183 "Unhandled exception when connecting to HTTP port"
I was doing some resiliency testing.

An unhandled - and unhandlable - ArgumentOutOfRangeException occurs if you configure MqttClient to connect to (HTTP) port 80 of test.mosquitto.org, taking your whole process down. Of course doing so makes no sense, but such crash should not occur - wrong protocol on the remote end should result in MqttClientException as anything else.

The call stack is below.

[2020-01-23 18:01] andrevaz2019 commented on #117
Boa tarde ,,, sou novo por aqui e em C#. Estou tentando escrever meu payload em um Edittext.text... mas não sei se é possível quando rodo minha aplicaçao no V.S.2019 vejo na saida que a mensagem que envio com o console.writeline é passada e qdo envio de outro cliente ao Broker recebo na minha aplicação. mas está tudo em console, melhor, vejo na saida quando o programa está em execução porém não se

[2020-03-27 18:40] BullT commented on #159
Hi,

I have the same concern, I'm looking for a server sample to conecte a nodeMCU client.

[2020-09-21 03:56] nitishsantpur opened #185 "Error while connecting to localhost"
Hi I am a novice and trying to connect to localhost using xamarin and using system.net.mqtt NuGet package but getting an exception system.net.mqtt.mqttclientexception I used the same example given in readme

[2020-09-21 04:59] nitishsantpur commented on #185
[code]

[2020-09-21 14:50] kzu commented on #185
You should try reaching that host machine with a ping or some other protocol first. Most likely, you can't reach it at all. It will depend on various configurations of your Xamarin app (i.e. is it running in an emulator? a device? over wifi? USB? same network? firewall enabled? and on an on).

So, my advice: just spin up a web site in your machine, try to hit it from a browser on that emulator/dev

[2020-09-22 04:03] nitishsantpur commented on #185
Hi thanks for replying I tried using a website that I created using PHP and MySQL on my Samsung physical device using xampp it works fine after a bit of configuration changes

[2020-12-01 15:15] SamirBoussaidi opened #187 "How use ??"
Hi !
I want to try this library but It doesn't work.

I installed the client package with command nuget but when I paste the example code, all text is red and impossibility to generate the program.

Could you please help me 🙏 ?

[2021-01-31 13:24] snympi opened #188 "Example of use with Azure IoT Hub MQTT"
On paper this is a great lightweight solution, but I have not been able to get the Client to work with Azure IoT Hub to send Device to Cloud messages. Is there an example or specifications of what the credentials should be to connect? I am unable to get the Client to connect.

[code]
I get an exception as soon as ConnectAsync is called - immediately, although I specify a connection timeout of 20s:

[2021-02-15 13:33] michaelosthege opened #189 "Example for reconnect after disconnect"
I'm evaluating to switch to this library, but can't figure out how to implement the automatic reconnect.

→ Should I add subscriptions before or after calling `.ConnectAsync` ?
→ Do I need to re-subscribe after a connection loss?

If you could state which steps have to be done to re-connect that would be great.
cheers

[2021-04-21 21:51] CARP-Kaiser commented on #118
How are you finding the cert files? Every time I try to create the cert it says file can not be found.

[2021-04-22 18:40] DevEddy commented on #118
Hi @CARP-Kaiser ,

I am not sure if I understand you correct.
You should open an issue directly in MQTTNet or look at the code, it's open source ;)

-- Eddy

[2021-08-13 04:05] ghost opened #199 "MQTT server sample code"
Hello
there is no documentation for MQTT server
please provide a sample code to run a server

[2021-08-13 12:41] gwnspl commented on #182
HI
can you share me the whole code
i am trying to implement a mqtt server but not able

[2022-05-25 12:57] Fianax opened #203 "Problem with retain messages"
I publish with retain == true and it checks that it is true. But when I disconnect and reconnect (without having restarted the server), the ratin messages do not reach me, but the mqttExplored application does.

Because?

[2022-05-25 16:30] Fianax commented on #203
Sorry for the inconvenience.

I have already fixed the error.
You only had to create the Client.MessageStream before you made the Client.ConnectAync().

Sorry for the inconvenience and thank you for the package :)

[2022-05-25 16:30] #203 closed

[2022-07-25 00:47] zitjubiz opened #207 "SubscribeAsync can't consume MqttQualityOfService.AtLeastOnce QoS1 message"
`            var configuration = new MqttConfiguration();
            var client = MqttClient.CreateAsync("127.0.0.1", configuration).Result;
            var sessionState = client.ConnectAsync(new MqttClientCredentials(clientId: "foo1", userName: "admin", password: "1q2w3E*"), cleanSession: true).Result;

            await client.SubscribeAsync("foo/bar/topic1", MqttQualityOfService.AtLeastOnce);